<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Template Vechi</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css"
    />

    <link rel="stylesheet" href="header.css" />
  </head>

  <script
    crossorigin
    src="https://unpkg.com/@babel/standalone/babel.min.js"
  ></script>

  <body>
    <header class="header-style">
      <div class="logo">
        <a href="index.html">
          <img src="/assets/logo.jpg" alt="Logo" />
        </a>
      </div>
    </header>
  </body>
</html>
